openapi: 3.0.3

info:
  version: 1.0.0
  title: Simple API
  description: A simple API to learn how to write OpenAPI Specification

servers:
  - url: https://simple.api/openapi101
    description: Ca c'est mon serveur que je paye tous les mois

paths:
  /persons:
    get:
      summary: résumé
      description: description trèèèès longue quoi
      parameters:
        - name: age
          in: query
          description: coucou
          schema:
            type: integer
            minimum: 50
      responses:
        200:
          description: Tout va bien
          content:
            "*/*":
              schema:
                $ref: "person.yml#/Persons"
        400:
          $ref: "#/components/responses/Error400"

  /persons/{username}:
    parameters:
      - $ref: "#/components/parameters/username"
    get:
      description: récupérer qqn
      responses:
        200:
          description: Voici le username
          content:
            "*/*":
              schema:
                $ref: "person.yml#/Person"
        500:
          $ref: "#/components/responses/Error400"

components:
  schemas:
    Error400:
      properties:
        message:
          type: string

  parameters:
    username:
      name: username
      in: path
      required: true
      schema:
        type: string
        pattern: "[a-z0-9]{8,64}"

  responses:
    Error400:
      description: Une erreur est survenue
      content:
        "*/*":
          schema:
            $ref: "#/components/schemas/Error400"